* {
    margin: 0px;
}

.container1 {
    height: 15vh;
}

.rownav1 {
    height: 7vh;
}

#logo {
    height: 100%;
    width: 100%;
}

.rownav2 {
    height: 7vh;
}

.product div {
    height: 50vh;
    border: 1px blue solid;
}

.slider-box {
    height: 350px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 217px;
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    text-align: center;
    float: left;
    border: 1px solid rgba(187, 187, 187, 0.40);
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slider-box a {
    text-decoration: none;
    text-align: center;
}

.img-box {
    height: 170px;

}

.img-box img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.time {
    position: absolute;
    top: 0px;
    right: 20px;
    color: #f16007;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
}

.price {
    color: lue;
    line-height: 20px;
}

.cart {
    position: absolute;
    bottom: 0px;
    height: 45px;
    background-color: rgb(243, 234, 234);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a {
    color: red;
    font-size: 120%;
}

.slider-box :hover {
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
}

.slider-box:hover .img-box img {
    transform: scale(1.07);
    transition: all ease 0.3s;
}

.cart:hover {
    transform: scale(1.05);
    background-color: #fe9048;
    box-shadow: 2px 2px 12px rgba(47, 47, 47, 0.40);
    transition: all ease 0.1s;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rosybrown;
    color: black;
    padding: 0 50px 0 30px;
    margin-top: 40px;
}